In [2]:
import networkx as nx
import pandas as pd

In [3]:
data = pd.read_csv('../data/msb201126-s1.txt', delimiter = "\t")

In [9]:
data_omim = pd.read_csv('../data_omim/full_omim_table.txt', delimiter = "\t")

In [5]:
drugbank_slim_df = pd.read_table('../data/drugbank-slim.tsv')
drugbank_similarity_df = pd.read_table('../data/similarity-slim.tsv')
drugbank_similarity_df

        compound0 compound1  similarity
0         DB00014   DB00035      0.4902
1         DB00014   DB00050      0.6841
2         DB00014   DB00091      0.1911
3         DB00014   DB00093      0.4336
4         DB00014   DB00104      0.4080
...           ...       ...         ...
1200470   DB09019   DB09028      0.1978
1200471   DB09019   DB07402      0.2182
1200472   DB09020   DB09028      0.1525
1200473   DB09020   DB07402      0.2190
1200474   DB09028   DB07402      0.2178

[1200475 rows x 3 columns]

In [23]:
def convert_disease_name_to_desease_number(disease_name):
    for row in (data_omim.loc[data_omim['phenotype'] == disease_name.lower().capitalize()].iterrows()):
        return row[1]['phenotypeMimNumber']

In [25]:
def convert_drug_name_to_drug_id(drug_name):
    for row in (drugbank_slim_df.loc[drugbank_slim_df['name'] == drug_name].iterrows()):
        return row[1]['drugbank_id']

In [27]:
#dopolni to za drug_disease!!!

count = 0
for row in data.iterrows():
    disease_name = convert_disease_name_to_desease_number(row[1]['Disease name'])
    drug_name = convert_drug_name_to_drug_id(row[1]['Drug name'])
    
    if disease_name != None and drug_name != None:
        count += 1
        
count

298

In [22]:
len(data)

1933

In [17]:
'lepo je'.capitalize()

'Lepo je'

In [18]:
for row in (data_omim.loc[data_omim['phenotype'] == 'Alcohol dependence'.lower().capitalize()].iterrows()):
   print(row)

(7198, genes                        TAS2R16|T2R16
hgnc_synonyms              TAS2R16|TAS2R16
hgnc_genes                         TAS2R16
phenotype               Alcohol dependence
phenotypeInheritance        Multifactorial
geneMimNumber                       604867
phenotypeMimNumber                  103780
chromosome                               7
comments                               NaN
Name: 7198, dtype: object)

In [6]:
for row in (drugbank_slim_df.loc[drugbank_slim_df['name'] == 'Acamprosate'].iterrows()):
    print(row[1]['drugbank_id'])

DB00659